@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "aeonik";
    font-weight: 400;
    src: url("/Aeonik/AeonikTRIAL-Light.otf") format(opentype);
  }
  @font-face {
    font-family: "aeonik";
    font-weight: 500;
    src: url("/Aeonik/AeonikTRIAL-Regular.otf") format(opentype);
  }
  @font-face {
    font-family: "aeonik";
    font-weight: 600;
    src: url("/Aeonik/AeonikTRIAL-Bold.otf") format(opentype);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
